.info{
    flex-grow: 1;
    &__wrapper{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap:80px;
        padding-top: 21%;
    }
    &__current{
        font-family: 'MacPaw Fixel';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        color: #9E9E9E;
        & span{
            color: #111111;
        }
    }
    &__link{
        font-family: 'MacPaw Fixel';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        color: #9E9E9E;
        cursor: pointer;
        transition: color .5s;
        &:hover{
            color: #111111;
        }
    }
    &__item{
        font-family: 'Angst';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        width: 210px;
        text-transform: uppercase;
        color: #000000;
        transition: all 1s ease;
        opacity: 0.5;
        transform: translateY(50px);
        position: relative;

        &.active {
            opacity: 1;
            transform: translateY(0);
        }

        &.previous {
            
            opacity: 0;
            transform: translateY(-30px); // Уход наверх
        }

        &.inactive {
            opacity: 0.3;
            transform: translateY(50px); // Расположение ниже
        }
    }
    &__text{
        font-family: 'MacPaw Fixel';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-indent: 44px;
        color: #9E9E9E;
    }
    &__list{
        margin-top: 50px;
        &_item{
            font-family: 'MacPaw Fixel';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #9E9E9E;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: -10px;
                transform: translateY(-50%);
                width: 1px; /* Ширина точки */
                height: 1px; /* Высота точки */
                background-color: #9E9E9E; /* Цвет точки */
            }
        }
    }


    &__left{
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__middle{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        &_wrapper{
            height: 400px; /* Примерный размер */
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px; 
        }
    }
    &__right{
        flex: 1;
        position: relative;
        &_item{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            opacity: 0;
            transform: translateY(30px);
            transition: opacity 1s ease, transform 1s ease;
            visibility: hidden;
            &.fade-in-up {
                opacity: 1;
                transform: translateY(0);
                visibility: visible;
            }
        
            &.fade-out-down {
                opacity: 0;
                transform: translateY(-30px);
                visibility: hidden;
            }
        }
    }
}