.main{

    flex-grow: 1; 
    padding-bottom: 0px;
    &__wrapper{
        height: 100%;
        animation: fadeIn 1.5s forwards;
        transition: opacity 3s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__text{
        display: flex;
        flex-direction: column;
        gap: 36px;
        margin: 170px 0;
    }
    &__title{
        font-family: 'Angst';
        font-style: normal;
        font-weight: 50;
        font-size: 25px;
        text-align: center;
        text-transform: uppercase;
        color: #FAF7F2;
        font-variation-settings: 'srff' 10;
    }
    &__subtitle{
        font-family: 'MacPaw Fixel';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: #BDBDBD;
    }
    &__more{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 11px;
        font-family: 'MacPaw Fixel';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        color: #FAF7F2;
    }
}


