.team{
    flex: 1;
    &__wrapper{
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__title{
        font-family: 'Angst';
        font-style: normal;
        font-weight: 50;
        font-size: 25px;
        text-align: center;
        text-transform: uppercase;
        color: #FAF7F2;
        font-variation-settings: 'srff' 10;
    }
    &__main{
        height: 100%;
        width: 100%;
    }
    &__left{
        display: flex;
        // align-items: center;
        position: relative;
        top: 46%;
        height: calc(100% - 57%);
    }
    &__right{
        display: flex;
        position: relative;
        top: 18.5%;
        height: 506px;
    }
    &__current{
        font-family: 'MacPaw Fixel';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        color: #9E9E9E;
        & span{
            color: #FFFF;
        }
    }
    &__circle{
        width: 435px;
        height: 435px;
        border-radius: 100%;
        margin-left: 12px;
    }
    &__names{
        display: flex;
        justify-content: center;
        align-items: center;
        // gap: 180px;
        position: absolute;
        left: 141px;
        top: 42.5%;
        &_item{
            width: 205px;
            height: 75px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            &:nth-child(2){
                margin-left: 240px;
            }
            &:nth-child(3){
                margin-left: 100px;
            }
        }
        &_name{
            font-family: 'Angst';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            color: #FAF7F2;
            font-variation-settings: 'srff' 10;
            &.current{
                font-weight: 100;
            }
            &.inactive{
                font-family: 'Angst';
                font-style: normal;
                font-weight: 50;
                font-size: 20px;
                text-transform: uppercase;
                color: #FAF7F2;
                font-variation-settings: 'srff' 10;
                span{
                    filter: blur(.8px);
                }
            }
            &.last{
                position: relative;
                top: 5px;
                font-family: 'Angst';
                font-style: normal;
                font-weight: 50;
                font-size: 15px;
                text-transform: uppercase;
                color: #FAF7F2;
                filter: blur(2px);
            }
        }
        &_prof{
            font-family: 'MacPaw Fixel';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #FFFFFF;
            width: 200px;
        }
    }
    &__more{
        position: absolute;
        bottom: 0;
        left: 22%;
        font-family: 'MacPaw Fixel';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        color: #FAF7F2;
        &:hover{
            opacity: .7;
        }
    }
}