.header{
    position: fixed;
    width: 100%;
    &__wrapper{
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        transition: color 1s ease;
        &.light {
            color: black;
        }
        &.dark {
            color: white;
        }
    }
    &__logo{
        & path {
            transition: fill 0.3s ease;
        }
        &.light path {
            fill: black;
        }
        &.dark path {
            fill: white;
        }
    }
    &__nav{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 38px;
    }
    &__item{
        font-family: 'MacPaw Fixel';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        transition: color .5s;
        &:hover{
            color: #9E9E9E;
        }
    }
    &__contact{
        font-family: 'MacPaw Fixel';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        transition: color .5s;
        &:hover{
            color: #9E9E9E;
        }
    }
}