.active{
    display: block !important;
}
html,body{
    overflow: hidden;
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    height: 100%; 
    margin: 0 auto; 
    padding: 0 30px; 
}

/* *{
    z-index: 2;
} */
.page{
    position: relative;
    width: 100vw;
    height: 100vh;

}
.page__wrapper{
    scroll-snap-type: y mandatory; 
    height: 100%;
    width: 100%;
    transition: transform 2s ease;
}
.noise{
    height: 100%;
    width: 100%;
    background-image: url(assets/noise.png);
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateZ(0)
}
.view{
    height: 100vh;
    overflow: hidden;
}
.sections__color{
    height: 200vh;
    top: 0;
    z-index: 0;
    width: 100%;
    position: absolute;
    background: linear-gradient(to bottom, #1C173E 0%, #FFFFFF 100%);
}
.view__one{
    /* background: #1C173E; */
}
.view__two{
    /* background: linear-gradient(to bottom, #1C173E 0%, #FFFFFF 100%); */
    position: relative;
}
.view__three{
    background-color: #FFFFFF;
}
.view__six{
    background: linear-gradient(to bottom, #FFFFFF 0%, #1C173E 100%);
    position: relative;
}
.view__seven{
    position: relative;
    background: conic-gradient(from 42.56deg at 50.76% 48.67%, #393B58 0deg, #1C173E 145.8deg, #1C173E 151.2deg, #393B58 360deg);
}
.view__eight{
    position: relative;
    background: conic-gradient(from 63.07deg at 54.72% 16.44%, #393B58 0deg, #1C173E 145.8deg, #1C173E 151.2deg, #393B58 360deg);
}
.content__wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}