@font-face {
    font-family: 'MacPaw Fixel';
    src: url('assets/fonts/FixelText-Regular.woff2') format('woff2'),
        url('assets/fonts/FixelText-Regular.woff') format('woff'),
        url('assets/fonts/FixelText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MacPaw Fixel';
    src: url('assets/fonts/FixelText-Bold.woff2') format('woff2'),
        url('assets/fonts/FixelText-Bold.woff') format('woff'),
        url('assets/fonts/FixelText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MacPaw Fixel';
    src: url('assets/fonts/FixelText-Light.woff2') format('woff2'),
        url('assets/fonts/FixelText-Light.woff') format('woff'),
        url('assets/fonts/FixelText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MacPaw Fixel';
    src: url('assets/fonts/FixelText-Medium.woff2') format('woff2'),
        url('assets/fonts/FixelText-Medium.woff') format('woff'),
        url('assets/fonts/FixelText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MacPaw Fixel';
    src: url('assets/fonts/FixelText-SemiBold.woff2') format('woff2'),
        url('assets/fonts/FixelText-SemiBold.woff') format('woff'),
        url('assets/fonts/FixelText-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MacPaw Fixel';
    src: url('assets/fonts/FixelText-ExtraBold.woff2') format('woff2'),
        url('assets/fonts/FixelText-ExtraBold.woff') format('woff'),
        url('assets/fonts/FixelText-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'MacPaw Fixel';
    src: url('assets/fonts/FixelText-Black.woff2') format('woff2'),
        url('assets/fonts/FixelText-Black.woff') format('woff'),
        url('assets/fonts/FixelText-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


/* Подключение Angst Bold */
@font-face {
    font-family: 'Angst';
    src: url('assets/fonts/AngstVF.ttf') format('truetype'),
        url('assets/fonts/AngstVF.woff') format('woff'),
        url('assets/fonts/AngstVF.woff2') format('woff2');
    /* font-weight: bold; */
    font-style: normal;
}
